<div class="topBar">
  <img class = "logoImg"
    [src]="logoPath"
    [ngx-scroll-to]="'#section1'"
    [ngx-scroll-to-duration]="400">

  <!-- <div class="menuButton" onclick="menuFunction(this)"> -->
  <div class="menuButton" (click)="menuFunction()">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>
</div>

<div class="menuClosed">
  <h1>SECTION</h1>
  <button class="singleButton"
    [ngx-scroll-to]="'#section1'"
    [ngx-scroll-to-duration]="400">Intro
  </button>
  <button class="singleButton"
    [ngx-scroll-to]="'#section2'"
    [ngx-scroll-to-duration]="400">Projects &amp; Designs
  </button>
  <button class="singleButton"
    [ngx-scroll-to]="'#section3'"
    [ngx-scroll-to-duration]="400">Contact
  </button>
</div>

<div id="section1"
  class="container-fluid"
  [lazyLoad]="backgroundImgPath"
  [offset]="0"
  (onLoad)="backgroundLoadingComplete()">
  <div class="row">
    <div class="col-md-8">
      <p>Hi,</p>
      <p>I’m Ryan, Computer Science major Junior studying at Purdue
        University. Interested in User Experience Design, Human Computer
        Interaction, Software Engineering and iOS Development.</p>
    </div>
  </div>
</div>

<div id="section2" class="container-fluid">
  <div class="showroomContainer">
    <img class="showroomSlides"
      [defaultImage]="defaultImage"
      [lazyLoad]="imgPath1"
      [scrollObservable]="scrollAndSearch$"
      (onLoad)="loadingComplete()">

    <img class="showroomSlides"
      [defaultImage]="defaultImage"
      [lazyLoad]="imgPath2"
      [scrollObservable]="scrollAndSearch$"
      (onLoad)="loadingComplete()">

    <a id="projectName" class="unselectable"
    (click)="openProjectDetail()"></a>

    <div class="showroomIndicator">
      <div class="leftButton unselectable"
        (click)="changeSlides(-1)">&#10094;</div>
      <div class="rightButton unselectable"
        (click)="changeSlides(1)">&#10095;</div>
    </div>

    <div class="projectDetails">

    </div>

  </div>
</div>

<div id="section3" class="container-fluid">
  <h1 style="margin-bottom: 120px;">Contact</h1>
  <p>Zuyuan/Ryan Fan</p>
  <p>Email: fan164@purdue.edu</p>
  <h2>or Find Me on: </h2>
  <a href="https://www.linkedin.com/in/zuyuanfan/"
    class="shareButton linkedin"></a>
  <a href="https://github.com/taeroro/"
    class="shareButton github"></a>
</div>
